/* ----- improve navbar ----- */
.cls-navbar a {
    text-decoration: none;
}
.cls-navbar a:hover {
    color: #333;
}

/* ----- customize table ----- */
.cls-table {
    margin: 10px 0px;
}
.cls-table thead {
    background-color: #999;
    color: #fff;
}
.cls-table tbody {
    background-color: #fff;
}
.cls-table tbody tr:hover {
    background-color: #f9f9f9;
}

/* ----- actions for custom table ----- */
.cls-table tbody tr:hover .cls-mini-actions {
    display: block;
}
.cls-mini-actions {
    display: none;
    text-align: center;
}
.cls-mini-actions i {
    font-size: 12px;
    margin: 0px 4px;
    cursor: pointer;
}

/* ----- modal remove ----- */
.cls-modal-remove .modal-vue3-header {
    color: #b00000;
    background-color: #eee;
}
.cls-modal-remove .modal-vue3-footer-cancel {
    background-color: #ddd;
}
.cls-modal-remove .modal-vue3-footer-ok {
    background-color: #b90000 !important;
}

/* ----- other styles ----- */
.cls-pointer {
    cursor: pointer;
}